{{!< default}}


<div id="index" class="container" style="padding-left:10%; padding-right:30%">

	<main class="content" role="main">
	
      	<div style="font-size:2em;">
			
			<p>
	          Think of this site as a tiny street in the giant city of the World Wide Web. It is populated by a small set of ecletic shops, with no coherent voice to tie them all together. Often the shop owners don't show up for work, and sometimes shops will evaporate altogether. Everyone is friendly, however. They are happy to meet new visitors.
	        </p>
	        <p>
	          That is to say: Hellooooo. I wanted to start a site to experiment with different ways of writing, and tinker with front-end development while I'm at it. 
	        </p>
	        
	        <p>Last updated 10 January 2020</p>
	        <br>
		
	  
		</div>
	</main>



</div>
