{{!< default}}

<header id="blog-header"{{#if tag.feature_image}} class="has-cover"{{else}}{{#if @site.cover_image}} class="has-cover"{{/if}}{{/if}}>
	<div class="inner">
	</div>
</header>


<div id="index" class="container" style="z-index:100000">

		<main class="content" role="main">

			{{> "loop"}}

		</main>

</div>
